<%= form_for(@payment_method) do |f| %>
  <% if @payment_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_method.errors.count, "error") %> prohibited this payment_method from being saved:</h2>

      <ul>
      <% @payment_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gateway_id %><br />
    <%= f.text_field :gateway_id %>
  </div>
  <div class="field">
    <%= f.label :gateway_options %><br />
    <%= f.text_area :gateway_options %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
