<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gateway.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gateway.description %>
</p>


<%= link_to 'Edit', edit_gateway_path(@gateway) %> |
<%= link_to 'Back', gateways_path %>
