<%= form_for(@items_product) do |f| %>
  <% if @items_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@items_product.errors.count, "error") %> prohibited this items_product from being saved:</h2>

      <ul>
      <% @items_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
